.example-title {
    height: 50px;
    line-height: 50px;
    padding: 0 10px;
    color: #4472c4;
    background: #f7f7f7;
    white-space: nowrap;
}

.example-bg-white {
    background-color: #fff
}

.demo-group-bar {
    padding: 0 10px;
    height: 50px;
    font-size: 16px;
    color: #4472c4;
    background: #f7f7f7;
}

.padding-5 {
    padding: 5px
}

.padding-10 {
    padding: 10px
}
