@import "@sugarSrc/style/variables/color.scss";
@import "@sugarSrc/style/variables/size.scss";
@import "@sugarSrc/style/mixin/border1px.scss";
@import "./button.mixin.scss";
@import "./button.variables.scss";

.sugar-button {
    white-space: nowrap;
    background-color: $sugar-button-theme-default;
    color: #ffffff;
    text-align: center;
    border: 0;
    padding: 0 $sugar-button-padding;
    position: relative;
    outline: none;
    border-radius: 2px;
    transition: all .2s;
    &-block {
        width: 100%;
    }
    &-size-default {
        @include size();
    }
    &-size-small {
        @include size(small);
    }
    &-size-large {
        @include size(large);
    }
    &:active {
        background-color: $sugar-color-gray-dark
    }
    &-light {
        background-color: #ffffff;
        color: $sugar-button-theme-default;
        &::before {
            @include border-1px($sugar-button-theme-default)
        }
        &:active {
            color: #ffffff;
            &::before {
                border: 0;
            }
            background-color: $sugar-color-gray;
        }
        &-theme-primary {
            color: $sugar-theme-primary;
            &::before {
                border-color: $sugar-theme-primary;
            }
        }
        &-theme-success {
            color: $sugar-theme-success;
            &::before {
                border-color: $sugar-theme-success;
            }
        }
        &-theme-warning {
            color: $sugar-theme-warning;
            &::before {
                border-color: $sugar-theme-warning;
            }
        }
        &-theme-alert {
            color: $sugar-theme-alert;
            &::before {
                border-color: $sugar-theme-alert;
            }
        }
    }
    &-theme-primary {
        background-color: $sugar-theme-primary;
    }
    &-theme-success {
        background-color: $sugar-theme-success;
    }
    &-theme-warning {
        background-color: $sugar-theme-warning;
        &:active {
            background-color: $sugar-theme-warning-active;
        }
    }
    &-theme-alert {
        background-color: $sugar-theme-alert;
        &:active {
            background-color: $sugar-theme-alert-active;
        }
    }
    &-theme-primary:active,
    &-light-theme-primary:active {
        background-color: $sugar-theme-primary-active;
    }
    &-theme-success:active,
    &-light-theme-success:active {
        background-color: $sugar-theme-success-active;
    }
    &-theme-warning:active,
    &-light-theme-warning:active {
        background-color: $sugar-theme-warning-active;
    }
    &-theme-alert:active,
    &-light-theme-alert:active {
        background-color: $sugar-theme-alert-active;
    }
}