@import '~@/style/variables/variables.scss';
@import '~@/style/mixin/mixin.scss';
@import '~@/style/tool/tool.scss';
.sugar-cell {
    @extend .display-flex;
    @extend .align-center;
    height: 50px;
    background-color: #fff;
    color: $sugar-color-gray;
    position: relative;
    font-size: $fontsize-large;
    &:not(:last-child)::before {
        content: '';
        @include border-1px($sugar-color-gray-light-sss, bottom);
        left: 15px;
    }
    .sugar-cell-label {
        margin-right: 10px;
        margin-left: 15px;
    }
    .sugar-cell-value {
        @extend .flex-1;
        color: $sugar-color-gray-light;
        margin-right: 10px;
        text-align: right;
        word-wrap: break-word;
    }
    .sugar-cell-icon {
        color: $sugar-color-gray-light-s;
        padding: 10px;
    }
}
