@import '~@/style/variables/variables.scss';
@import '~@/style/mixin/mixin.scss';
@import '~@/style/tool/tool.scss';
.sugar-grid-box {
    @extend .display-flex;
    @extend .flex-wrap-wrap;
    .sugar-grid-item {
        box-sizing: border-box;
    }
    &-1 {
        .sugar-grid-item {
            width: 100%;
        }
    }
    &-0 {
        .sugar-grid-item {
            width: auto;
        }
        &-1 {
            .sugar-grid-item {
                margin-right: 1px
            }
        }
        &-5 {
            .sugar-grid-item {
                margin-right: 5px
            }
        }
        &-10 {
            .sugar-grid-item {
                margin-right: 10px
            }
        }
    }
    &-2 {
        .sugar-grid-item {
            width: calc((100% / 2));
        }
        &-1 {
            .sugar-grid-item {
                width: calc((100% / 2) - (1px / 2));
                &:not(:nth-child(2n)) {
                    margin-right: 1px
                }
            }
        }
        &-5 {
            .sugar-grid-item {
                width: calc((100% / 2) - (5px / 2));
                &:not(:nth-child(2n)) {
                    margin-right: 5px
                }
            }
        }
        &-10 {
            .sugar-grid-item {
                width: calc((100% / 2) - (10px / 2));
                &:not(:nth-child(2n)) {
                    margin-right: 10px
                }
            }
        }
    }
    &-3 {
        .sugar-grid-item {
            width: calc((100% / 3));
        }
        &-1 {
            .sugar-grid-item {
                width: calc((100% / 3) - (2px / 3));
                &:not(:nth-child(3n)) {
                    margin-right: 1px
                }
            }
        }
        &-5 {
            .sugar-grid-item {
                width: calc((100% / 3) - (10px / 3));
                &:not(:nth-child(3n)) {
                    margin-right: 5px
                }
            }
        }
        &-10 {
            .sugar-grid-item {
                width: calc((100% / 3) - (20px / 3));
                &:not(:nth-child(3n)) {
                    margin-right: 10px
                }
            }
        }
    }
    &-4 {
        .sugar-grid-item {
            width: calc((100% / 4));
        }
        &-1 {
            .sugar-grid-item {
                width: calc((100% / 4) - (3px / 4));
                &:not(:nth-child(4n)) {
                    margin-right: 1px
                }
            }
        }
        &-5 {
            .sugar-grid-item {
                width: calc((100% / 4) - (15px / 4));
                &:not(:nth-child(4n)) {
                    margin-right: 5px
                }
            }
        }
        &-10 {
            .sugar-grid-item {
                width: calc((100% / 4) - (30px / 4));
                &:not(:nth-child(4n)) {
                    margin-right: 10px
                }
            }
        }
    }
}
