@import '~@/style/variables/variables.scss';
@import '~@/style/mixin/mixin.scss';
@import '~@/style/tool/tool.scss';
.sugar-picker-warp {
    @extend .flex-direction-column;
    height: 100%;
    background-color: #fff;
    .sugar-picker-action-bar {
        background-color: $sugar-color-gray-light-ssss;
        height: 38px;
        position: relative;
        &>a {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
        }
        &>[picker-action="cancel"] {
            left: 10px;
            color: $sugar-color-gray;
        }
        &>[picker-action="ok"] {
            right: 10px;
            color: $color-sugar;
        }
    }
    .sugar-picker-contant {
        @extend .flex-1;
        position: relative;
        top: 19px;
        .sugar-picker-mask {
            position: absolute;
            background: linear-gradient(0deg, hsla(0, 0%, 100%, .4), hsla(0, 0%, 100%, .8));
            width: 100%;
            height: 73px;
            z-index: 1;
            pointer-events: none;
            transform: translateZ(0);
            &:before {
                content: '';
                position: absolute;
                transform: scale(.5) translateZ(0);
                width: 200%;
                border-top: 1px solid #ebebeb;
                left: 0;
                bottom: 0;
                transform-origin: 0 bottom;
            }
            &-top {
                top: 0;
                &:before {
                    bottom: 0;
                    transform-origin: 0 bottom;
                }
            }
            &-bottom {
                bottom: 0;
                &:before {
                    top: 0;
                    transform-origin: 0 top;
                }
            }
        }
        .picker-scroll-warp {
            @extend .display-flex;
            padding: 0 15px;
            &>div {
                @extend .flex-1;
                height: 184px;
                overflow: hidden;
                &>ul {
                    padding: 0;
                    margin-top: 74px;
                    line-height: 36px;
                    list-style: none;
                    &>li {
                        height: 38px;
                        list-style: none;
                        text-align: center;
                    }
                }
            }
        }
    }
}
