$sugar-border-radius-round:50px;
$sugar-border-radius-xxx:20px;
$sugar-border-radius-xx:12px;
$sugar-border-radius-x:10px;
$sugar-border-radius-x:8px;
$sugar-border-radius:5px;
$sugar-border-radius-small:2px;
$sugar-border-radius-1:1px;
$sugar-border-1px-default:1px solid;
