//basic
$color-white:#fff;
$color-sugar:#4472c4; // 华润色
//gray
$sugar-color-gray:#666 !default;
$sugar-color-gray-light:#999 !default;
$sugar-color-gray-light-s:#aaa !default;
$sugar-color-gray-light-ss:#ccc !default;
$sugar-color-gray-light-sss:#e5e5e5 !default;
$sugar-color-gray-light-ssss:#fbfbfb !default;
$sugar-color-green:#71ae48 !default;
$sugar-color-orange:#ed7d31 !default;
$sugar-color-red:#c00000 !default;
