@mixin border-1px($color:$sugar-color-gray-light-s, $position:all) {
    box-sizing: border-box;
    @if $position==all {
        border: $color solid 1px;
    }
    @else if $position==top {
        border-top: $color solid 1px;
    }
    @else if $position==bottom {
        border-bottom: $color solid 1px;
    }
    @else if $position==left {
        border-left: $color solid 1px;
    }
    content: '';
    transform: scale(.5) translateZ(0);
    width: 200%;
    height: 200%;
    position: absolute;
    left: 0;
    top: 0;
    transform-origin: 0 0;
    pointer-events: none;
}
