@import "@sugarSrc/style/variables/color.scss";
@import "@sugarSrc/style/mixin/border1px.scss";
@import "@sugarSrc/style/tools.scss";
@import "./checkbox.variables.scss";
.sugar-checkbox-group {
    &.sugar-flex-direction-column {
        padding: 0 5px;
        .sugar-checkbox:not(:last-child)::before {
            @include border-1px($sugar-color-light, bottom, 0)
        }
    }
    &.sugar-flex-direction-row {
        .sugar-checkbox:not(:last-child) {
            margin-right: 10px;
        }
    }
}

.sugar-checkbox {
    position: relative;
    height: 36px;
    &-disabled {
        .sugar-checkbox-label,
        .sugar-checkbox-mark {
            opacity: .5;
        }
    }
    &>input[type="checkbox"] {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        z-index: 1;
    }
    .sugar-checkbox-label {
        font-size: 14px;
        margin-left: 5px;
        color: $sugar-color-gray-dark;
    }
    .sugar-checkbox-mark {
        @extend .sugar-flex-box-center;
        width: $sugar-checkbox-mark-size;
        height: $sugar-checkbox-mark-size;
        border-radius: 2px;
        position: relative;
        &::before {
            @include border-1px($sugar-color-gray, all, 2px);
        }
        &::after {
            content: "";
            width: calc(100% - 8px);
            height: calc(100% - 8px);
            background-color: $sugar-theme-primary;
            transform: scale(.3);
            opacity: 0;
            transition: all .2s;
        }
    }
    &-checked {
        .sugar-checkbox-mark {
            &::before {
                border-color: $sugar-theme-primary;
            }
            &::after {
                transform: scale(1);
                opacity: 1;
            }
        }
    }
}