@import '~@/style/variables/variables.scss';
@import '~@/style/mixin/mixin.scss';
@import '~@/style/tool/tool.scss';
.sugar-dialog {
    width: calc(100% - 80px);
    background-color: #fff;
    border-radius: $sugar-border-radius-small;
    .sugar-dialog-content {
        overflow-y: hidden
    }
    &-theme-default {
        .sugar-dialog-title {
            @extend .flex-box-center;
            position: relative;
            height: 50px;
            font-size: $fontsize-large-x;
            color: $sugar-color-gray;
            &::before {
                content: '';
                @include border-1px($sugar-color-gray-light-sss, bottom);
            }
        }
        .sugar-dialog-content {
            padding: 10px;
            min-height: 30px;
            color: $sugar-color-gray-light
        }
        .sugar-dialog-footer {
            @extend .flex-box;
            padding: 10px;
            &>button {
                @extend .flex-1;
                &:nth-child(2) {
                    margin-left: 10px
                }
            }
        }
    }
    &-theme-ios {
        border-radius: $sugar-border-radius-x;
        .sugar-dialog-title {
            margin-top: 20px;
            text-align: center;
            font-size: 17px;
            font-weight: 700;
        }
        .sugar-dialog-content {
            margin-bottom: 20px;
            margin-top: 8px;
            text-align: center;
            font-size: 13px;
            -webkit-font-smoothing: antialiased!important;
            font-weight: 400;
        }
        .sugar-dialog-footer {
            @extend .flex-box;
            position: relative;
            &::before {
                content: '';
                @include border-1px($sugar-color-gray-light-sss, top);
            }
            &>button {
                @extend .flex-1;
                background: none;
                color: #222;
                border: none;
                font-size: $fontsize-large;
                &:nth-child(2) {
                    position: relative;
                    color: $color-sugar;
                    &::before {
                        content: '';
                        @include border-1px($sugar-color-gray-light-sss, left);
                    }
                }
            }
        }
    }
}
