@import '~@/style/variables/variables.scss';
@import '~@/style/mixin/mixin.scss';
@import '~@/style/tool/tool.scss';
$sugar-tab-height:44px !default;
.sugar-tab {
    @extend .display-flex;
    position: relative;
    height: $sugar-tab-height;
    background-color: $color-white;
    .sugar-tab-item {
        @extend .flex-1;
        @extend .flex-box-center;
        height: 100%;
    }
    .sugar-tab-active-bar {
        position: absolute;
        bottom: 0;
        height: 1px;
        background-color: #222;
        &-track-forward {
            transition: right 0.3s cubic-bezier(0.35, 0, 0.25, 1), left 0.3s cubic-bezier(0.35, 0, 0.25, 1) 0.06s;
        }
        &-track-back {
            transition: right 0.3s cubic-bezier(0.35, 0, 0.25, 1) 0.06s, left 0.3s cubic-bezier(0.35, 0, 0.25, 1);
        }
    }
}
